{% extends "layout.html" %}
{% block content %}

<h2> {{ title }} </h2>


Tekijä: {{ author }} <br>
Julkaisuvuosi: {{ year }} <br>
Kieli: {{ language }} <br>
Varauksia: {{ reservations }} kpl <br>
Saatavilla: {{ available }} <br>
<br>
{% if session.user_id %}
<form action="/reservation/{{ id }}" method=get class="submit_button">
	<input type=submit value="Varaa teos">
</form>
{% if session.user_role == 2 %}
<form action="/delete_material/{{ id }}" method=post class="submit_button">
        <input type=submit value="Poista aineisto">
</form>
{% endif %}
{% endif %}
<br>
<h3>Arviot ({{ review_count }})</h3>
<p>
{% if review_list %}
{% for entry in review_list %}
Käyttäjä: <b> {{ entry[1] }} </b> | Arvosana: {{ entry[2] }}/5
<hr>
<p>
"{{ entry[3] }}" <br>
{% if session.user_role == 2 %}
<form action="/delete_review/{{ entry[0] }}" method=post>
        <input type=submit value="Poista kommentti">
</form>
{% endif %}
</p>
{% endfor %}
{% else %}
Tällä teoksella ei ole vielä arvosteluja.
{% endif %}

{% if session.user_id %}
<h3>Arvioi teos:</h3>
<form action="/review" method="post">
Arvosana (1-5):
<select name="rating">
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
</select>
<p>
Arvostelu:<br>
<textarea name="comment" rows="3" cols="40" maxlength="1000"></textarea>
<p><input type="submit" value="Lähetä">
<input type="hidden" name="material_id" value="{{ id }}">
</form>
{% endif %}

{% endblock %}

