{% extends "layout.html" %}
{% block content %}

<h2>Rekisteröinti</h2>

<form action="register" method = "post">
Käyttäjätunnus: <br><input type="text" name="username" minlength="1" maxlength="15">
<p>
Salasana: <br><input type="password" name="password1">
<p>
Salasana uudestaan: <br><input type="password" name="password2">
<p>
Käyttäjärooli:
<select name="role">
<option value=1> asiakas
<option value=2> ylläpitäjä
</select>
<p>
<input type="submit" value="Luo tunnus">
</form>
</p>

{% endblock %}
